<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        
        <div>
            <p>published: 27/05/2016 14:30</p>
            <h2><a href="">1st Post</a></h2>
            <p>The 1st post in the lislt.</p>
        </div>
        <div>
            <p>published: 27/05/2016 14:30</p>
            <h2><a href="">2nd Post</a></h2>
            <p>The 2nd post in the lislt.</p>
        </div>
    </body>
</html>
